body{
    background-color: #595959;
    font-size: 100%;
    font-family: 宋体, Geneva, sans-serif;
}
body *{
    font-size: 1em;
}
.page{
    background-color: white;
    color: #201F24;
    max-width:60em;
    padding: 1.253em .625em;
    margin:1em auto;
    border-radius: 1em;
    box-shadow: .625em .625em #595959;
}
h1{
    font-size: 1.875em;
}
h2{
    font-size: 1.5em;
}

blockquote{
    background-color: #cccccc;
    padding: .625em;
    border-left: solid .25em #595959;
}
pre{
    background-color: #cccccc;
    border:.125em dashed #595959;
    padding: .625em;
}