<!DOCTYPE html>
<html>
　　<head lang="zh-zmn-Hans">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>{{ page.title }}</title>　　
<!--     <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/post.css"/>　　 -->
<!--     <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/syntax.css"/>　　 -->
<!--     <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/emojify.css" /> -->
</head>
　　<body>

<div class="page">
    {{ content }}
</div>

<a class="btn">launch</a>
      <script>
          window.onload = function () {
              document.querySelector('.btn').onclick = function () {
                  var iframeNode = document.createElement('iframe');
                  iframeNode.style.display = 'none';
                  iframeNode.src = 'myapp://..'; 
                  // 'myapp:// is my registered scheme, I also try 'intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;end'
                  document.body.appendChild(iframeNode);
                  setTimeout(function () {
                    document.body.removeChild(iframeNode);
                    iframeNode = null;
                  }, 0);
                }
          };
      </script>
<!-- <script src="http://fental.github.io/Fental/public/js/emojify.js"></script> -->
<!-- <script src="http://fental.github.io/Fental/public/js/public.js"></script> -->
　　</body>
</html>
