<!DOCTYPE html>
<html>
　　<head lang="zh-zmn-Hans">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>{{ page.title }}</title>　　
<!--     <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/post.css"/>　　 -->
<!--     <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/syntax.css"/>　　 -->
<!--     <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/emojify.css" /> -->
</head>
　　<body>

<div class="page">
    {{ content }}
</div>

<!-- <script src="http://fental.github.io/Fental/public/js/emojify.js"></script> -->
<!-- <script src="http://fental.github.io/Fental/public/js/public.js"></script> -->
<script type="text/javascript" src="//s.bdstatic.com/common/openjs/openBox.js?_v=201612011200"></script>
<script>
  window.onload = function () {
    var $homeBtn = document.querySelector('.home');
    $homeBtn.onclick = function (e) {
      var openBox = window.OpenBox({
                showTip: true,
                serverSchemeInfo: {
                    type: 'feed',
                    context: '%7B"nid"%3A"news_3740858182797623185"%2C"content_sign"%3A"7406472419345964060"%2C"sourceFrom"%3A"bjh"%7D'
                },
                from: 'openBoxTest',
                channel: 'openBoxTextChannel'
            });
            var data = {};
            var androidCommand = '{"mode":"0","intent":"intent:#Intent;action=com.baidu.searchbox.action.HOME;category=android.intent.category.DEFAULT;B.key_switch_to_home=true;end","min_v":"25165824"}';
            data.androidCommand = JSON.parse(androidCommand);
            openBox.open(data);
    }
  }
</script>
　　</body>
</html>
