<!DOCTYPE html>
<html>
　　<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>　　
    <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/post.css"/>　　
    </head>
　　<body>
        <div class="page">
　　　　{{ content }}
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'fental';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
　　</body>
</html>
<link rel="stylesheet" href="http://fental.github.io/Fental/public/css/emojify.css" />
<script src="http://fental.github.io/Fental/public/js/emojify.js"></script>
<script src="http://fental.github.io/Fental/public/js/public.js"></script>