<!DOCTYPE html>
<html>
　　<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>　　
    <link rel="stylesheet" href="http://fental.github.io/Fental/public/css/post.css"/>　　
    </head>
　　<body>
        <div class="page">
　　　　{{ content }}
        </div>
        <div id="disqus_thread" class="page"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
　　</body>
</html>
<link rel="stylesheet" href="http://fental.github.io/Fental/public/css/emojify.css" />
<script src="http://fental.github.io/Fental/public/js/emojify.js"></script>
<script src="http://fental.github.io/Fental/public/js/public.js"></script>
<script src="http://fental.github.io/Fental/public/js/disqus.js"></script>